.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(44, 39, 39, 0.6);
  flex-direction: column;
  gap: 20px;
}

.background {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: rem(24px);
  background-image: url('/source-ag-background.jpg');
  background-size: cover;
}

.link {
  text-decoration: none;
  color: white;
  transition: $default-transition;
  background-color: #1c7d1c;
  border-radius: 5px;
  padding: 8px 16px;

  @media (max-width: $tabletBreakpoint) {
    font-size: 12px;
  }

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  &:active {
    transform: translate(0, 2px);
  }
}
