.wrapper {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-top: 4px solid #cfcfcf91;
  padding: 10px;
  font-size: rem(13px);
}
